
body{
background-color: black;
color: white;
font-family: 'Nunito', sans-serif;
}

.main_body {
    display: grid; 
    grid-template-columns: 60% 40%;
    text-align: center; 
}


.full_page{
border-color: white;
border-style: solid;
border-width: .3vw;
margin-top: 1vw;
margin-left: auto;
margin-right: auto; 
max-width: 1200px;
}

.head_bar_top{
border-color: white;
border-style: solid;
border-width: .3vw;
}

.title_name{
font-size: large;
text-align: center;
}

.gallery_images{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/**column-gap: 10%;
row-gap: 10%; **/
margin-top: 5vh;
margin-left: auto;
margin-right: auto;   
}

.links_bar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.menu_item{
border-color: white;
border-style: solid;
border-width: .3vw;  

}

.menu_link {
    color:white; 
    text-decoration: none;
}

.menu_link:hover {
    color: red; 
    font-weight: bold; 
}

.img_featured{
    height: 20vw;
    width: auto;
    display: block;   
    margin-left: auto; 
    margin-right: auto; 
}

.self_pic {
    width: 80%; 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}

.social_icon{
height: 5vw;
width: 5vw;
display: block; 
margin-left: auto; 
margin-right: auto; 
}

.footer_bottom {
    display: grid; 
    grid-template-columns: 50% 50%;
    text-align: center;
}

.left_webpage_main {
    border-right: .3vw solid white; 
}

.about_me_text {
    margin-right: 5%; 
    margin-left: 5%;
}

.icon_2126{
    width: 95%; 
    filter: grayscale(1);
    z-index: 100;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 5%; 
    margin-bottom: 5%;
}

.icon_2126:hover {
filter: none;
}

#heading {
margin-left: 5vw; 
margin-right: 5vw; 
margin-top: 5vw; 
margin-bottom: 5vw; 
background: #000000; 
height: 15vw; 
text-align: center; 
}

.footer_social_icons {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    border-top: .3vw solid white;
}
.img_individual{
    height: 20vw;
    width: auto;
    display: block;   
    margin-left: auto; 
    margin-right: auto;   
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact_main{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

