body{
    background-color: #F2F3AE;
    padding: 0%;
    margin: 0%;
}
.menu{
    background-color: #F2F3AE;
    height: 10vh;
    position: fixed;
    top: 0;
    bottom: 0;
}
.top_image{
    height: 80vh;
    background-color: #EDD382;
}
.shoe_tiles{
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin-bottom: 5vh;
}
.shoe{
    height: 25vh;
    background-color: #020122;
    border: 1px solid white; 
}
.shoe_row{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}
.slide_bar{
    background-color: #F4442E;
    height: 5vh;
}
.big_image{
    background-color: #FFFFFF;
    height: 25vh;
}
.closing{
    background-color: #FC9E4F;
    height: 30vh;
}