body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 2.5vw; 
}

.webpage_top_bar{
    background: #666666; 
    height: auto;
    position: sticky;
    top: 0;
    width: 95vw;
    margin: auto;
    display: grid; 
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    z-index: 101;
}

.left_bar{
    color: white;
    text-align: left; 
    font-size: 2.5em; 
}

.middle_bar {
    color: white; 
    text-align: center;
    font-size: 3em;  
}

.right_bar {
    color: white; 
    text-align: right; 
    font-size: 2em; 
}

.gallery_images{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10vh;
    row-gap: 10vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    
}
    

.icon_2126{
    background-image: url("/img/temp_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vw;
    filter: grayscale(1);
    z-index: 100;
}

.icon_2126:hover {
    filter: none;
}

#heading {
    margin-left: 5vw; 
    margin-right: 5vw; 
    margin-top: 5vw; 
    margin-bottom: 5vw; 
    background: #000000; 
    height: 15vw; 
    text-align: center; 
    
}

h1 {
    color: #ffffff; 
    font-size: 6em;
    position: relative; 
    top: 30%; 
}

#categories {
    display: grid; 
    grid-template-rows: 33.33vw 33.33vw; 
}

.grid_row {
    display: grid; 
    grid-template-columns: 33vw 33vw 34vw;
}

.category {
    display: table-cell; 
    text-align: center;
    vertical-align: middle;  
    font-size: 6em;  
    height: 33.33vw;    
}


#drawings {
    background: #000000; 
    color: #ffffff; 
}

#photography {
    background: #666666; 
}

#published_work {
    background: #cccccc; 
}

#multimedia {
    background: #333333; 
    color: #ffffff; 
}

#digital_art {
    background: #999999; 
}

#design_logos {
    background: #ffffff; 
}
 
.about_me {
    text-align: right; 
    background: #000000; 
    color: #ffffff; 
    font-size: 4em; 
    margin-left: 80vw; 
}

.category_text {
    position: relative; 
    top: 25%; 
}

h3{
    color: grey;
    margin-left: 1.3em;
    font-size: 5em;
}
p{
    color: black;
    font-size: 3em;
    margin-left: 4em;
}
.back{
    background: #000000; 
    color: #ffffff; 
    font-size: 1em; 
}